.lst-container {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vw;
    width: 70vw;
    flex-direction: column;
    border-radius: 3vw;
    cursor: pointer;
    transition: 300ms;
}

.lst-container:hover {
    transform: scale(1.05);
}

.matches-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.score-sect {
    display: flex;
    transform: translateY(-2vw);
    justify-content: center;
    align-items: center;
}

.inner-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date {
    transform: translateX(-25vw);
    font-weight: 500;
}

.time {
    margin-left: 6vw;
    margin-right: 6vw;
    font-size: 3vw;
    background-color: hsl(0, 85%, 48%);
    color: white;
    padding: 1vw;
    border-radius: 2vw;
}

.score {
    margin-left: 6vw;
    margin-right: 6vw;
    font-size: 3vw;
    font-weight: 500;
    background-color: hsl(0, 85%, 48%);
    color: white;
    padding: 1vw;
    border-radius: 2vw;
}

.command {
    font-size: 3vw;
    width: 18vw;
    text-align: center;
    font-weight: 500;
    background-color: hsl(0, 85%, 48%);
    color: white;
    padding: 1vw;
    border-radius: 2vw;
}

.score-cont {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.score-label {
    position: absolute;
    transform: translateY(-4vw);
    font-weight: 500;
}

.btns-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    justify-content: center;
}

.btn {
    font-size: 2vw;
    color: white;
    background-color: hsl(0, 85%, 48%);
    padding: 1vw;
    font-weight: 700;
    border-radius: 1vw;
    cursor: pointer;
    transition: 300ms;
}

.btn:hover {
    transform:  scale(1.02);
    box-shadow: 0 1vw 2vw rgba(255, 255, 255, 0.2);
}