/* header */

body {
    font-family: Arial, sans-serif;
    background-color: #060128;
    margin: 0;
    padding: 0;
}

.header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsl(0, 100%, 39%);
    height: 80px;
    top: 0;
    
    width: 98vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3vw;
    color: white;
    position: fixed;
    z-index: 10;
}

.header img {
    width: 50px;
    height: 50px;
}
.header nav {
    flex-grow: 1;
    display: flex;
    justify-content: left;
}
.header nav a {
    margin: 0 10px;
    text-decoration: none;
    color:white;
    transition: color 0.3s;
}

.header nav a:hover {
    color: lightgray;
}

/* main */

.header-image {
    position: relative;
    width: 100%;
    height: 1100px;
    overflow: hidden;
}

.header-image img {
    width: 120vw;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.header-image h1 {
    position: relative;
    left: 0;
    transform: translateY(-8.9vw);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 80px;
    text-align: left;
    padding-left: 10px;
}

.main {
    background-color: #060128;
}

/* Videos */

.videos {
    margin: 20px 0;
    text-align: center; /* Align contents to the center */
}

.videos h3 {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    color: white;
}

.videos .content {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.videos .content .video {
    width: calc(50% - 300px);
    height: 150px;
    background-color: #ffffff;
    margin: 10px;
    text-align: left;
}

@media (min-width: 768px) {
    .videos .content {
        width: 100%;
    }
}

/* Match */

.last-match {
    padding: 20px;
    margin: 20px 0;
}
.last-match .controls {
    display: flex;
    justify-content: left;
    align-items: center;
}

.last-match .controls button {
    margin: 0 10px;
    height: 30px;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}

.last-match .controls h3 {
    color: white;
}

.last-match .scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.last-match .scoreboard div {
    text-align: center;
}

/* Subscription */

.subscribe {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}
.subscribe input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
}
.subscribe input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
}

/* Footer */

.footer {
    background-color: #e0e0e0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.footer div {
    width: 30%;
}