/* header */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('flamingo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Add padding to space out the content */
    color: white; /* Set text color */
}

.header img {
    width: 50px;
    height: 50px;
}
.header nav {
    flex-grow: 1;
    display: flex;
    justify-content: left;
}
.header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #555;
}

/* main */

.header-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-image h1 {
    position: absolute;
    bottom: -48px;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 80px;
}

.main {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.videos {
    margin: 20px 0;
}
.videos .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.videos .tabs button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background-color: #eee;
    cursor: pointer;
}
.videos .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.videos .content .video {
    width: 200px;
    height: 150px;
    background-color: #ccc;
    margin: 10px;
}
.last-match {
    background-color: #e0e0e0;
    padding: 20px;
    margin: 20px 0;
}
.last-match .controls {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.last-match .controls button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background-color: #eee;
    cursor: pointer;
}
.last-match .scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.last-match .scoreboard div {
    text-align: center;
}
.subscribe {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}
.subscribe input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
}
.subscribe input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
}
.footer {
    background-color: #e0e0e0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.footer div {
    width: 30%;
}